/**
 * It's probably best if you don't look in here.
 */

html, body {
  background: #03000A;
  color: #fff;
  margin: 0;
  font-family: "Inter FIX", "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {

}

label {
  display: block;
}

input:hover {
  background: rgba(255, 255, 255, 0.1);
}

input:focus, input:focus-within {
  outline: 2px solid #8f6cef;
}

input {
  background: rgba(255, 255, 255, 0.05);
  tab-size: 4;
  --inner-gutter: 28px;
  --outer-gutter: 38px;
  --breakpoint: "3xl";
  --container-width: unset;
  --spacing-marketing-spacing-2xl: 17.5rem;
  --spacing-marketing-spacing-xl: 12.25rem;
  --spacing-marketing-spacing-lg: 8rem;
  --spacing-marketing-spacing-md: 6rem;
  --spacing-marketing-spacing-sm: 4rem;
  --spacing-marketing-spacing-xs: 3rem;
  --spacing-marketing-spacing-2xs: 2rem;
  color-scheme: dark;
  --lb-color-text-code: #edecee;
  --lb-color-text-code-comment: hsla(256, 6%, 93%, .4);
  --lb-color-text-code-variable: #8099ff;
  --lb-color-text-code-value: #ffc266;
  --lb-color-text-code-punctuation: #bf7af0;
  --lb-color-text-code-tag: #9f8dfc;
  --lb-color-text-code-class: #00c1d6;
  --lb-color-text-code-constant: #f76e99;
  --lb-color-text-code-string: #70e1c8;
  --lb-product-color-text-brand-subtlest: #443592;
  --lb-product-color-text-brand-subtler: #7058d0;
  --lb-product-color-text-brand: #9f8dfc;
  --lb-product-color-text-brand-bolder: #efecfe;
  --lb-product-color-text: #edecee;
  --lb-product-color-text-inverse: #161618;
  --lb-product-color-text-subtle: #a1a0a7;
  --lb-product-color-text-subtlest: #7f7e86;
  --lb-product-color-text-disabled: #706e77;
  --lb-product-color-text-information: #2fc8ee;
  --lb-product-color-text-success: #25d0ab;
  --lb-product-color-text-warning: #f0c000;
  --lb-product-color-text-danger: #ff666b;
  --lb-product-color-text-env-development: #2fc8ee;
  --lb-product-color-text-env-production: #f75f8f;
  --lb-product-color-text-accent-yellow-subtlest: #2e2200;
  --lb-product-color-text-accent-yellow: #f5d90a;
  --lb-product-color-text-accent-yellow-bolder: #f0c000;
  --lb-product-color-text-accent-green-subtlest: #052926;
  --lb-product-color-text-accent-green: #70e1c8;
  --lb-product-color-text-accent-green-bolder: #25d0ab;
  --lb-product-color-text-accent-pink-subtlest: #3e1928;
  --lb-product-color-text-accent-pink: #ea3e83;
  --lb-product-color-text-accent-pink-bolder: #f75f8f;
  --lb-product-color-text-accent-blue-subtlest: #082536;
  --lb-product-color-text-accent-blue: #8ae8ff;
  --lb-product-color-text-accent-blue-bolder: #2fc8ee;
  --lb-color-background-scroll-thumb: hsla(0, 0%, 100%, .1);
  --lb-color-background-scroll-thumb-bolder: hsla(0, 0%, 100%, .2);
  --lb-product-color-background-surface-brand-subtlest: #2d2352;
  --lb-product-color-background-surface-brand-subtler: #32265e;
  --lb-product-color-background-surface-brand: #7058d0;
  --lb-product-color-background-surface-brand-bolder: #7b65dc;
  --lb-product-color-background-surface-base: #161618;
  --lb-product-color-background-surface-base-bold: #1d1d20;
  --lb-product-color-background-surface-base-inverse-subtle: #d8d6db;
  --lb-product-color-background-surface-base-inverse: #edecee;
  --lb-product-color-background-surface-base-inverse-bolder: #fff;
  --lb-product-color-background-surface-base-alpha-subtle: rgba(253, 252, 253, .03);
  --lb-product-color-background-surface-base-alpha: rgba(253, 252, 253, .07);
  --lb-product-color-background-surface-raised: #222225;
  --lb-product-color-background-surface-raised-bolder: #2e2e33;
  --lb-product-color-background-surface-information-subtlest: #082536;
  --lb-product-color-background-surface-information-subtler: #09374e;
  --lb-product-color-background-surface-information: #68ddfd;
  --lb-product-color-background-surface-success-subtlest: #052926;
  --lb-product-color-background-surface-success-subtler: #033a35;
  --lb-product-color-background-surface-success: #70e1c8;
  --lb-product-color-background-surface-warning-subtlest: #2e2200;
  --lb-product-color-background-surface-warning-subtler: #3d3000;
  --lb-product-color-background-surface-warning: #f5d90a;
  --lb-product-color-background-surface-danger-subtlest: #3a171a;
  --lb-product-color-background-surface-danger-subtler: #48191c;
  --lb-product-color-background-surface-danger-subtle: #551b1f;
  --lb-product-color-background-surface-danger: #e5484d;
  --lb-product-color-background-surface-danger-bolder: #f1555a;
  --lb-product-color-background-surface-danger-boldest: #ff666b;
  --lb-product-color-background-surface-selection: #392c72;
  --lb-product-color-background-surface-selection-bolder: #2d2352;
  --lb-product-color-background-surface-overlay: rgba(0, 0, 0, .4);
  --lb-product-color-background-surface-accent-pink-subtlest: #3e1928;
  --lb-product-color-background-surface-accent-pink: #ea3e83;
  --lb-product-color-background-surface-accent-blue-subtlest: #082536;
  --lb-product-color-background-surface-accent-blue: #68ddfd;
  --lb-product-color-background-surface-accent-green-subtlest: #052926;
  --lb-product-color-background-surface-accent-green: #70e1c8;
  --lb-product-color-background-surface-accent-yellow-subtlest: #2e2200;
  --lb-product-color-background-surface-accent-yellow: #f5d90a;
  --lb-product-color-background-surface-env-development-subtlest: #082c3f;
  --lb-product-color-background-surface-env-development-subtler: #09374e;
  --lb-product-color-background-surface-env-development: #68ddfd;
  --lb-product-color-background-surface-env-development-bolder: #8ae8ff;
  --lb-product-color-background-surface-env-production-subtlest: #471a2d;
  --lb-product-color-background-surface-env-production-subtler: #551b33;
  --lb-product-color-background-surface-env-production: #ea3e83;
  --lb-product-color-background-surface-env-production-bolder: #f05189;
  --lb-product-color-border-divider-brand-subtlest: #2d2352;
  --lb-product-color-border-divider-brand: #7b65dc;
  --lb-product-color-border-divider-subtle: rgba(253, 252, 253, .03);
  --lb-product-color-border-divider: rgba(253, 252, 253, .07);
  --lb-product-color-border-divider-bold: rgba(253, 252, 253, .11);
  --lb-product-color-border-divider-bolder: rgba(253, 252, 253, .15);
  --lb-product-color-border-divider-inverse-subtle: #d8d6db;
  --lb-product-color-border-divider-inverse: #edecee;
  --lb-product-color-border-divider-inverse-bolder: #fff;
  --lb-product-color-border-divider-information-subtler: #064b6b;
  --lb-product-color-border-divider-information-subtle: #005d85;
  --lb-product-color-border-divider-information: #2fc8ee;
  --lb-product-color-border-divider-success-subtler: #00574b;
  --lb-product-color-border-divider-success-subtle: #006b59;
  --lb-product-color-border-divider-success: #25d0ab;
  --lb-product-color-border-divider-warning-subtler: #574805;
  --lb-product-color-border-divider-warning-subtle: #705e00;
  --lb-product-color-border-divider-warning: #f0c000;
  --lb-product-color-border-divider-danger-subtler: #832126;
  --lb-product-color-border-divider-danger-subtle: #a82428;
  --lb-product-color-border-divider-danger: #ff666b;
  --lb-product-color-border-divider-surface-base: #161618;
  --lb-product-color-fill-icon-subtlest: #515058;
  --lb-product-color-fill-icon-subtler: #706e77;
  --lb-product-color-fill-icon-subtle: #7f7e86;
  --lb-product-color-fill-icon: #a1a0a7;
  --lb-product-color-fill-icon-bolder: #edecee;
  --lb-product-color-fill-icon-brand: #9f8dfc;
  --lb-product-color-fill-icon-information: #2fc8ee;
  --lb-product-color-fill-icon-success: #25d0ab;
  --lb-product-color-fill-icon-warning: #f0c000;
  --lb-product-color-fill-icon-danger: #ff666b;
  --lb-product-color-fill-icon-env-development: #2fc8ee;
  --lb-product-color-fill-icon-env-production: #f75f8f;
  --lb-product-color-fill-icon-accent-yellow-subtlest: #2e2200;
  --lb-product-color-fill-icon-accent-yellow: #f5d90a;
  --lb-product-color-fill-icon-accent-blue-subtlest: #082536;
  --lb-product-color-fill-icon-accent-blue: #68ddfd;
  --lb-product-color-fill-icon-accent-green-subtlest: #052926;
  --lb-product-color-fill-icon-accent-green: #70e1c8;
  --lb-product-color-fill-icon-accent-pink-subtlest: #3e1928;
  --lb-product-color-fill-icon-accent-pink: #ea3e83;
  --lb-product-color-fill-surface-base: #161618;
  --lb-product-color-fill-surface-raised: #222225;
  --lb-product-color-fill-divider-subtle: rgba(253, 252, 253, .03);
  --lb-product-color-fill-divider: rgba(253, 252, 253, .07);
  --lb-product-shadow-elevation-raised: 0 1px 2px rgba(0, 0, 0, .36);
  --lb-product-shadow-elevation-popover: inset 0 0 0 1px rgba(253, 252, 253, .06), 0px 10px 16px rgba(0, 0, 0, .6);
  --lb-product-shadow-elevation-dialog: inset 0 0 0 1px rgba(253, 252, 253, .04), 0px 16px 24px rgba(0, 0, 0, .6), 0px 24px 40px rgba(0, 0, 0, .2);
  --lb-marketing-color-text-brand-subtle: #a488f2;
  --lb-marketing-color-text-brand: #8f6cef;
  --lb-marketing-color-text-brand-bolder: #7a51ec;
  --lb-marketing-color-text: #f7f7f8;
  --lb-marketing-color-text-inverse: #03000a;
  --lb-marketing-color-text-subtle: #cbcace;
  --lb-marketing-color-text-subtler: #959499;
  --lb-marketing-color-text-subtlest: #504f54;
  --lb-marketing-color-text-information: #6cb0ef;
  --lb-marketing-color-text-success: #6cefce;
  --lb-marketing-color-text-warning: #efd26c;
  --lb-marketing-color-text-danger: #ef6c6c;
  --lb-marketing-color-text-accent-yellow: #efd26c;
  --lb-marketing-color-text-accent-yellow-subtle: #f2db88;
  --lb-marketing-color-text-accent-blue: #6cb0ef;
  --lb-marketing-color-text-accent-blue-subtle: #88bef2;
  --lb-marketing-color-text-accent-green: #6cefce;
  --lb-marketing-color-text-accent-green-subtle: #88f2d7;
  --lb-marketing-color-text-accent-pink: #ce6cef;
  --lb-marketing-color-text-accent-pink-subtle: #d788f2;
  --lb-marketing-color-background-surface-brand-subtler: rgba(122, 81, 236, .13);
  --lb-marketing-color-background-surface-brand-subtle: rgba(122, 81, 236, .15);
  --lb-marketing-color-background-surface-brand: #8f6cef;
  --lb-marketing-color-background-surface-brand-bold: #a488f2;
  --lb-marketing-color-background-surface-brand-bolder: #ab97e2;
  --lb-marketing-color-background-surface-base: #03000a;
  --lb-marketing-color-background-surface-base-inverse-subtlest: #504f54;
  --lb-marketing-color-background-surface-base-inverse-subtler: #959499;
  --lb-marketing-color-background-surface-base-inverse-subtle: #cbcace;
  --lb-marketing-color-background-surface-base-inverse: #f7f7f8;
  --lb-marketing-color-background-surface-raised: #15131b;
  --lb-marketing-color-background-surface-faded-subtle: hsla(256, 7%, 97%, .08);
  --lb-marketing-color-background-surface-faded: hsla(256, 7%, 97%, .11);
  --lb-marketing-color-background-surface-faded-bold: hsla(256, 7%, 97%, .13);
  --lb-marketing-color-background-surface-faded-bolder: hsla(256, 7%, 97%, .15);
  --lb-marketing-color-background-surface-success: rgba(81, 236, 197, .13);
  --lb-marketing-color-background-surface-warning: rgba(236, 202, 81, .15);
  --lb-marketing-color-background-surface-danger: rgba(236, 81, 81, .15);
  --lb-marketing-color-background-surface-information: rgba(81, 161, 236, .15);
  --lb-marketing-color-background-surface-accent-yellow-subtle: rgba(236, 202, 81, .15);
  --lb-marketing-color-background-surface-accent-yellow: #efd26c;
  --lb-marketing-color-background-surface-accent-yellow-bold: #f2db88;
  --lb-marketing-color-background-surface-accent-yellow-bolder: #e2d297;
  --lb-marketing-color-background-surface-accent-blue-subtle: rgba(81, 161, 236, .15);
  --lb-marketing-color-background-surface-accent-blue: #6cb0ef;
  --lb-marketing-color-background-surface-accent-blue-bold: #88bef2;
  --lb-marketing-color-background-surface-accent-blue-bolder: #97bee2;
  --lb-marketing-color-background-surface-accent-green-subtle: rgba(81, 236, 197, .13);
  --lb-marketing-color-background-surface-accent-green: #6cefce;
  --lb-marketing-color-background-surface-accent-green-bold: #88f2d7;
  --lb-marketing-color-background-surface-accent-green-bolder: #97e2d0;
  --lb-marketing-color-background-surface-accent-pink-subtle: rgba(197, 81, 236, .15);
  --lb-marketing-color-background-surface-accent-pink: #ce6cef;
  --lb-marketing-color-background-surface-accent-pink-bold: #d788f2;
  --lb-marketing-color-background-surface-accent-pink-bolder: #d097e2;
  --lb-marketing-color-background-surface-overlay: rgba(0, 0, 0, .4);
  --lb-marketing-color-border-divider-subtle: hsla(256, 7%, 97%, .08);
  --lb-marketing-color-border-divider: hsla(256, 7%, 97%, .11);
  --lb-marketing-color-border-divider-bold: hsla(256, 7%, 97%, .13);
  --lb-marketing-color-border-divider-bolder: hsla(256, 7%, 97%, .15);
  --lb-marketing-color-border-divider-boldest: #504f54;
  --lb-marketing-color-border-divider-danger: #ef6c6c;
  --lb-marketing-color-border-divider-surface: #03000a;
  --lb-marketing-color-border-divider-surface-inverse-subtler: #959499;
  --lb-marketing-color-border-divider-surface-inverse-subtle: #cbcace;
  --lb-marketing-color-border-divider-surface-inverse: #f7f7f8;
  --lb-marketing-color-border-divider-brand-subtle: #a488f2;
  --lb-marketing-color-border-divider-brand: #8f6cef;
  --lb-marketing-color-border-divider-brand-bolder: #7a51ec;
  --lb-marketing-color-border-divider-accent-yellow-subtle: #f2db88;
  --lb-marketing-color-border-divider-accent-yellow: #efd26c;
  --lb-marketing-color-border-divider-accent-blue-subtle: #88bef2;
  --lb-marketing-color-border-divider-accent-blue: #6cb0ef;
  --lb-marketing-color-border-divider-accent-green-subtle: #88f2d7;
  --lb-marketing-color-border-divider-accent-green: #6cefce;
  --lb-marketing-color-border-divider-accent-pink-subtle: #d788f2;
  --lb-marketing-color-border-divider-accent-pink: #ce6cef;
  --lb-marketing-color-fill-brand-subtle: #a488f2;
  --lb-marketing-color-fill-brand: #8f6cef;
  --lb-marketing-color-fill-brand-bold: #a488f2;
  --lb-marketing-color-fill-brand-bolder: #ab97e2;
  --lb-marketing-color-fill-surface-raised: #15131b;
  --lb-marketing-color-fill-surface-faded-subtle: hsla(256, 7%, 97%, .08);
  --lb-marketing-color-fill-surface-faded: hsla(256, 7%, 97%, .11);
  --lb-marketing-color-fill-surface-faded-bold: hsla(256, 7%, 97%, .13);
  --lb-marketing-color-fill-surface-faded-bolder: hsla(256, 7%, 97%, .15);
  --lb-marketing-color-fill-divider-subtle: hsla(256, 7%, 97%, .08);
  --lb-marketing-color-fill-divider: hsla(256, 7%, 97%, .11);
  --lb-marketing-color-fill-divider-bold: hsla(256, 7%, 97%, .13);
  --lb-marketing-color-fill-divider-bolder: hsla(256, 7%, 97%, .15);
  --lb-marketing-color-fill: #f7f7f8;
  --lb-marketing-color-fill-inverse: #0c0a0f;
  --lb-marketing-color-fill-subtle: #cbcace;
  --lb-marketing-color-fill-subtler: #959499;
  --lb-marketing-color-fill-subtlest: #504f54;
  --lb-marketing-color-fill-information: #6cb0ef;
  --lb-marketing-color-fill-success: #6cefce;
  --lb-marketing-color-fill-warning: #efd26c;
  --lb-marketing-color-fill-danger: #ef6c6c;
  --lb-marketing-color-fill-accent-yellow: #efd26c;
  --lb-marketing-color-fill-accent-yellow-subtle: #f2db88;
  --lb-marketing-color-fill-accent-blue: #6cb0ef;
  --lb-marketing-color-fill-accent-blue-subtle: #88bef2;
  --lb-marketing-color-fill-accent-green: #6cefce;
  --lb-marketing-color-fill-accent-green-subtle: #88f2d7;
  --lb-marketing-color-fill-accent-pink: #ce6cef;
  --lb-marketing-color-fill-accent-pink-subtle: #d788f2;
  --lb-marketing-shadow-elevation-popover: 0px 8px 12px rgba(3, 4, 4, .36), 0px 0px 1px rgba(3, 3, 4, .5);
  --lb-marketing-shadow-elevation-dialog: inset 0 0 0 1px hsla(256, 7%, 97%, .11), 0px 16px 24px rgba(0, 0, 0, .6), 0px 24px 40px rgba(0, 0, 0, .2);
  --lb-marketing-shadow-elevation-divider-subtle: 0 0 0 1px hsla(256, 7%, 97%, .08);
  --lb-marketing-shadow-elevation-divider: 0 0 0 1px hsla(256, 7%, 97%, .11);
  --lb-marketing-shadow-elevation-divider-bold: 0 0 0 1px hsla(256, 7%, 97%, .13);
  --lb-marketing-shadow-elevation-divider-bolder: 0 0 0 1px hsla(256, 7%, 97%, .15);
  --lb-marketing-shadow-elevation-divider-danger: 0 0 0 1px #ef6c6c;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  --font-inter: "__inter_ba9878", "__inter_Fallback_ba9878";
  --font-familjen-grotesk: "__Familjen_Grotesk_bff155", "__Familjen_Grotesk_Fallback_bff155";
  --lb-font-brand: var(--font-familjen-grotesk), "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --lb-font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --lb-font-mono: "Menlo", "Consolas", "monospace";
  --pointer-x: 651px;
  --pointer-y: 295.8125px;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-color: rgba(59, 130, 246, .5);
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  --tw-shadow: var(--lb-marketing-shadow-elevation-divider);
  --tw-shadow-colored: var(--lb-marketing-shadow-elevation-divider);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: transparent !important;
  border: 1px solid #1E1B25;
}
