---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SvelteInput from "../components/SvelteInput.svelte";
import ReactInput from "../components/ReactInput.tsx";
import VueInput from "../components/VueInput.vue";
import VanillaInput from "../components/VanillaInput.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <VanillaInput />
    <ReactInput client:only="react" />
    <SvelteInput client:only="svelte" />
    <VueInput client:only="vue" />
  </main>
</Layout>

<style>
</style>

