---
import Layout from '../layouts/Layout.astro';
import LiveblocksLogo from "../components/LiveblocksLogo.astro";
import SvelteInput from "../components/SvelteInput.svelte";
import ReactInput from "../components/ReactInput.tsx";
import VueInput from "../components/VueInput.vue";
import VanillaInput from "../components/VanillaInput.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <LiveblocksLogo />
    <VanillaInput />
    <ReactInput client:only="react" />
    <SvelteInput client:only="svelte" />
    <VueInput client:only="vue" />
  </main>
</Layout>

<style>
  main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

